<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/photo.css') }}">
    <title>Космос</title>
</head>
<body>
    <div class="btns">
        <a href="/" class="btn">главная</a>
        <a href="/photos" class="btn">фотографии</a>
        <a href="/news" class="btn">новости</a>
        <a href="/feedback" class="btn">обратная связь</a>
    </div>
    <p id="top"></p>
    <div id="content">
    {% if notfound == False %}
        <img src="{{ url_for('static', filename="photos/"+nl+'/'+image) }}" alt="фото">
        <div class="text">
            <p>{{ text }}</p>
            <p class="data">{{ date }}</p>
        </div>
    {% else %}
        <h1>Это несуществующее изображение</h1>
    {% endif %}
    </div>
</html>