body {
    margin: 0;
    font-family: Arial, serif;
    font-size: 16pt;
}

#top {
    display: block;
    height: 2px;
}

.btns {
    z-index: 100;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: #3d3d3d;
    width: 100%;
    height: 50px;
    align-items: center;
    box-shadow: 0 3px 5px black;
}

.btn:link, .btn:visited, .btn:active {
    transition: 0.3s;
    color: white;
    text-decoration: none;
}


.btn:hover {
    transition: 0.3s;
    color: #88b7fd;
}

.bigphoto:link, .bigphoto:active, .bigphoto:visited {
    transition: 0.3s;
    display: flex;
    width: 100%;
    position: relative;
    background-color: black;
    height: 400px;
    color: white;
    line-height: 10px;
    text-decoration: none;
    overflow: hidden;
    justify-content: center;
    z-index: 0;
    img {
        mask-image: linear-gradient(to left, transparent, black 20%, black 80%, transparent);
        z-index: -2;
        height: 100%;
    }
    .text {
        text-wrap: none;
        position: absolute;
        left: 0;
        transform-origin: left;
        transition: 0.3s;
        margin-top: 3%;
        margin-left: 10%;
        line-height: 20px;
        max-width: 70%;
        h2 {
            line-height: 30px;
            margin-bottom: 0;
        }
    }
}

.bigphoto:hover {
    .text {
        transition: 0.3s;
        transform: scale(1.15);
    }
}

h1 {
    margin-left: 10%;
}

.news {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: flex-start;
    flex-wrap: wrap;
    a:link, a:active, a:visited {
        transition: 0.3s;
        width: 550px;
        border-right: 3px solid #3ebee8;
        margin-right: 20px;
        height: 130px;
        margin-bottom: 20px;
        color: black;
        text-decoration: none;
        box-shadow: -3px 5px 7px grey;
        padding: 10px;
        overflow: hidden;
        h4 {
            margin-top: 5px;
            margin-bottom: 0;
        }
        p {
            margin-top: 5px;
        }
    }
    a:hover {
        transition: 0.3s;
        color: blue;
    }
}

.photos {
    display: flex;
    width: 80%;
    margin-left: 10%;
    flex-direction: column;
    .pmainlink {
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        transition: 0.3s;
        width: 100%;
        height: auto;
        margin-top: 40px;
        box-shadow: 5px 5px 10px grey;
        text-decoration: none;
        color: black;
    }
}

.ptext {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.photo {
    width: auto;
    max-width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        height: 100%;
        margin-right: 10px;
    }
}

.photo:hover + .ptext .tlink {
    transition: 0.3s;
    color: blue;
}

.tlink:link, .tlink:visited, .tlink:active {
    transition: 0.3s;
    text-decoration: none;
    color: black;
    height: 100%;
}

.tlink:hover {
    transition: 0.3s;
    color: blue;
}

.clink:link, .clink:visited, .clink:active {
    transition: 0.3s;
    text-decoration: none;
    color: #696969;
}

.clink:hover {
    transition: 0.3s;
    color: #428ae0;
}

footer {
    height: 100px;
    padding: 40px 10%;
    background-color: #3d3d3d;
    color: white;
    margin-top: 30px;
}

@media screen and (max-width: 990px) {
    body {
        font-size: 14pt;
    }

    .btn:link, .btn:visited, .btn:active {
        font-size: 12pt;
    }

    .news {
        width: 95%;
        margin-left: 5%;

        a:link, a:active, a:visited {
            height: auto;
            p {
                font-size: 12pt;
            }
        }
    }

    .bigphoto:link, .bigphoto:active, .bigphoto:visited {
        height: 250px;

        .text {
            margin-left: 5%;
            max-width: 80%;
        }
    }

    .pmainlink {
        flex-wrap: wrap;
    }

    .tlink p {
        display: none;
    }

    .photos {
        margin-left: 5%;
        width: 85%;
    }

    .photo {
        width: 100%;
        height: auto;

        img {
            margin-right: 0;

        }
    }

    h1 {
        margin-left: 5%;
    }

    footer {
        padding: 25px 5%;
    }
}